.App {
  display: flex;
  flex-direction: row;
  border: red 1px solid;
  height: 100%;
}

.containerDiv {
  background-color: #42455e;
  border: rgb(154, 154, 255) 1px solid;
  width: 100%;
  display: flex;
  flex-grow: 1;
  height: 900px
}

.containerDivRight {
  background-color: #fee7e6;
  border: green 1px solid;
  height: 100%;
  width: 100%;
  display: flex;
}
.heading {
  display: flex;
}

.formContainer{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.formContainerOne{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.formContainerOneLeft{
  display:flex;
  flex-direction: column;
}

.formContainerOneRight{
  display:flex;
  flex-direction: column;
}

.formContainerTwo{
  display: flex;
  flex-direction: row;
  border: 1px blue solid;
}

.formContainerTwoLeft{
  display: flex;
  flex-direction: column;
  border: 5px orchid solid;
}

.formContainerTwoRight{
  display: flex;
  flex-direction: column;
  border: 3px red solid;
}